<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WizardUnionDBConnectionString"
         connectionString="Server=.\SQLExpress;AttachDbFilename=E:\.GitHub\WizardUnionForumDomain\Wizard Union\Service\WizardUnionDB.mdf;Database=WizardUnionDB;Trusted_Connection=Yes;"
         providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>