<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WizardUnionDBConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\.GitHub\WizardUnionForumDomain\WizardUnionDB\ForumData.mdf;Integrated Security=True"
         providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>